{% extends "main/base.html" %}
{% load static %}

{% block title %}لوحة المريض{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/patient_layout.css' %}">
{% block patient_css %}{% endblock %}
{% endblock %}

{% block content %}

<div class="sidebar-overlay" id="sidebarOverlay"></div>

<button id="menuToggle" class="menu-toggle">
  <span class="material-icons">menu</span>
</button>

<div class="patient-page">

  <div class="patient-layout">

    <aside class="sidebar">
      <div class="sidebar-header">
        <h3>لوحة المريض</h3>
      </div>

      <nav class="sidebar-nav">
        <a href="{% url 'patient:dashboard' %}"
           class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
          لوحة التحكم
        </a>

        <a href="{% url 'patient:profile' %}"
           class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
          الملف الشخصي
        </a>
        <a href="{% url 'patient:sessions' %}"
          class="{% if request.resolver_match.url_name == 'sessions' %}active{% endif %}">
          جلساتي
        </a>
        <a href="{% url 'patient:session_log' %}" class="{% if request.resolver_match.url_name == 'session_log' %}active{% endif %}">
          سجل الجلسات
        </a>

        <a href="{% url 'patient:treatment_plan' %}"
          class="{% if request.resolver_match.url_name == 'treatment_plan' %}active{% endif %}">
          الخطة العلاجية
        </a>

        {% if has_treatment_history %}
          <a href="{% url 'task:daily_tasks' %}"
            class="{% if request.resolver_match.url_name == 'daily_tasks' %}active{% endif %}">
            مهامي
          </a>
       {% endif %}


        <a href="{% url 'accounts:logout' %}">
          تسجيل الخروج
        </a>

      </nav>
    </aside>

    <main class="patient-content">
      {% block patient_content %}{% endblock %}
    </main>

  </div>
</div>

<script>
  const toggle = document.getElementById("menuToggle");
  const sidebar = document.querySelector(".sidebar");
  const overlay = document.getElementById("sidebarOverlay");

  toggle.addEventListener("click", () => {
    sidebar.classList.toggle("open");
    overlay.classList.toggle("show");
  });

  overlay.addEventListener("click", () => {
    sidebar.classList.remove("open");
    overlay.classList.remove("show");
  });
</script>

{% endblock %}
